<header class="header">
  <img src="../../../../assets/logo.png" alt="logo" width="80px" height="auto">
</header>

<div class="container">
  <div class="side1">
    <div class="pageDoc">
      <div class="logoSide"></div>
      <div class="name">Wächter</div>
      <div class="page">Documentos</div>
  </div>
  </div>
  <div class="side2">
    <div class="containerDoc">
      <div class = "files">
        <div class="file">
          <div style="background-image:url('./../../../assets/PDF.png');" class="pdf"></div>
          <div class="infoFile">Exame ABC <br> 25/01/2021</div>
        </div> 
        <div class="file">
          <div style="background-image:url('./../../../assets/PDF.png');" class="pdf"></div>
          <div class="infoFile">Exame ABC <br> 25/01/2021</div>
        </div> 
        <div class="file">
          <div style="background-image:url('./../../../assets/PDF.png');" class="pdf"></div>
          <div class="infoFile">Exame ABC <br> 25/01/2021</div>
        </div> 
        <div class="file">
          <div style="background-image:url('./../../../assets/PDF.png');" class="pdf"></div>
          <div class="infoFile">Exame ABC <br> 25/01/2021</div>
        </div>  
        <div class="file">
          <div style="background-image:url('./../../../assets/PDF.png');" class="pdf"></div>
          <div class="infoFile">Exame ABC <br> 25/01/2021</div>
        </div>  
        <div class="file">
          <div style="background-image:url('./../../../assets/PDF.png');" class="pdf"></div>
          <div class="infoFile">Exame ABC <br> 25/01/2021</div>
        </div> 
      </div>
    </div>
    <div class="fileInput">
      <button class="buttonAddExame">Novo Exame</button>
    </div> 
  </div>
  <div class="footer">
    <div class="info">
      <span class="contact">Contato</span>
        <br>contato@wachter.com 
        <br>Tel: +55 11 2233-4455
    </div>
  </div>
</div>