
<div class="container">
  <div class="side1"></div>
  <div class="side2">
    <div class="containerLogin">
      <!--<app-stock-card *ngFor="let stock of stocks"  [stock]="stock" ></app-stock-card>  -->
      <div class="logoTitle"></div>
      <div class="loginTitle" >
          <div class = "PatientRegister">Wächter Paciente</div>  
      </div>
      <form [formGroup]="form">
        <div class="dataInput" class = PatientRegister>
          <div class="userInput">
            <input class="userInput1" type="text" formControlName="name" name="usuario" placeholder="Usuario" />
            <input class="userInput2" type="password"  formControlName="password" name="senha" placeholder="Senha" />
          </div>
          <div class="userInput">
            <input type="text"  formControlName="email" name="email" placeholder="Email" />
          </div>
          <div class="userInput">
            <input class="userInput1" type ="text"  formControlName="cpf" name="CPF" placeholder="CPF" />
            <input class="userInput2" type ="text"  formControlName="sex" name="SEX" placeholder="sex" />
          </div>
          <div class="userInput" > 
            <select class="userInputSelect1" formControlName="gender" name="Gender">
              <option value="CISGENDER_MAN">M</option>
              <option value="FEMALE">F</option>
              <option value="OTHER">Outro</option>
              <option value="Gender">Gender</option>
            </select>
            <input class="userInput2" type ="text"  formControlName="phones" name="Telefone" placeholder="Telefone" />
          </div>
          <div class="userInput">
            <input class="userInput1" type ="text"  formControlName="birthday" name="Data de Nascimento" placeholder="Data de Nascimento" />
            <input class="userInput2" type ="text"  formControlName="motherName" name="motherName" placeholder="MotherName" />

          </div>
          <div class="userInput">
            <input type ="text"  formControlName="diseases" name="diseases" placeholder="Diseases" />
          </div>
          
          <div class="userInput">
            <button class="buttonEnter" (click)="register()">Cadastrar</button>
          </div>
          <div><a  href="/login" class="login">Inicio</a></div> 
        </div>
      </form>
    </div>
  </div>
  </div>