
  <div class="container">
  <div class="side1"></div>
  <div class="side2">
    <div class="containerLogin">
      <!--<app-stock-card *ngFor="let stock of stocks"  [stock]="stock" ></app-stock-card>  -->
      <div class="logoTitle"></div>
      <div class="loginTitle">Wächter</div>
      <div class="dataInput">
        <div class="userInput">
          <input type="text" name="usuario" placeholder="USUARIO" />
        </div>
        <div class="userInput">
          <input type="password" name="senha" placeholder="SENHA" />
        </div>
        <div class="userInput">
          <button class="buttonEnter">LOGIN</button>
        </div>
        <div class="register">Não tem conta? Cadastre-se <!-- <a [routerLink]="['/cadastrar']" class="cadastrese">Cadastre-se</a> --> </div>
      </div>
    </div>
  </div>
</div>
