
  <div class="container">
  <div class="side2">
    <div class="containerLogin">
      <!--<app-stock-card *ngFor="let stock of stocks"  [stock]="stock" ></app-stock-card>  -->
      <div class="logoTitle"></div>
      <div class="loginTitle">Wächter</div>
      <div class="dataInput">
        <div class="userInput">
          <a  class = "buttonSelect" href="/registerP">Cadastrar Paciente</a>
        </div>
        <div class="userInput">
          <a  class = "buttonSelect" href="/register">Cadastrar Medico</a>
        </div>
        <div><a  href="/login" class="login">Inicio</a></div> 
    </div>
  </div>
</div>
