/* You can add global styles to this file, and also import other style files */

:root {
 --background-color: #F5F3F3
 --text-variation-color: #fff;

}


*{
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto' ,'Segoe UI', sans-serif;
  background-color: var(--background-color);
}
